.App {
    text-align: center;
  }
  
  .Info {
    text-align: left;
    height: 25px;
    color: white;
    background-color:#87ceeb;
    
  }
  

  .custom-color-light-blue {
    color: #87ceeb; /* Or any other color */
  }


  
  
  .footer-container{
    /* height: 200px; */
    /* position: relative;*/
    /* align-items: center;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    background-color: #87ceeb;
  }
  
  .footer-info{
    width: 200px;
    margin: 15px;
    justify-content: center;
    color: white;
    align-items: center;  
  }
  
  .footer-info li{
    list-style: none;
    padding: 5px;
  }
  
  .footer-info header {
    font-size: 15px;
    font-weight: bold;
    color: blue;
  }
  
  .footer-info text{
    font-size: 12px;
  }
  
  .invisible-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 12px;
  }
  
  
  
  
  
  .App-header {
    background-color: #87ceeb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .App-link {
    color: #87ceeb;
  }
  
  