.App {
  text-align: center;
}

.Info {
  text-align: left;
  height: 25px;
  color: white;
  background-color:#61dafb;
  
}

.Nav {
  height: 40px;
}

.footer-container{
  /* height: 200px; */
  /* position: relative;*/
  /* align-items: center;  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  background-color: #61dafb;
}

.footer-info{
  width: 200px;
  margin: 15px;
  justify-content: center;
  color: white;
  align-items: center;  
}

.footer-info li{
  list-style: none;
  padding: 5px;
}

.footer-info header {
  font-size: 15px;
  font-weight: bold;
  color: blue;
}

.footer-info text{
  font-size: 12px;
}

.invisible-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 12px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
