.App {
    text-align: center;
  }
  
  .Info {
    text-align: left;
    height: 25px;
    color: white;
    background-color:#87ceeb;
    
  }
  

  .custom-color-light-blue {
    color: #87ceeb; /* Or any other color */
  }


  
  
  .footer-container{
    /* height: 200px; */
    /* position: relative;*/
    /* align-items: center;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    background-color: #87ceeb;
  }
  
  .footer-info{
    width: 200px;
    margin: 15px;
    justify-content: center;
    color: white;
    align-items: center;  
  }
  
  .footer-info li{
    list-style: none;
    padding: 5px;
  }
  
  .footer-info header {
    font-size: 15px;
    font-weight: bold;
    color: blue;
  }
  
  .footer-info text{
    font-size: 12px;
  }
  
  .invisible-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 12px;
  }
  
  
  
  
  
  .App-header {
    background-color: #87ceeb;
    min-height: 100vh;  
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
  }
  
  .bg-blue-color {
    background-color: #87ceeb;
  }
  .welcome-section {
    padding: 100px 0;
    background-color: #f8f9fa;
}

.welcome-section h2 {
    color: #333;
}

.hero-banner {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FWelcome-Banner-Burlap-Classroom-Decorations%2Fdp%2FB07F9MT3Q1&psig=AOvVaw371GHZx6SRH-Q3tPFP_4dT&ust=1710408311183000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCNDBntD18IQDFQAAAAAdAAAAABAE');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: #fff;
}
  
  